<aside>
	<div class="panel radius">
		<h3><a href="/events/">ISC Events</a></h3>
        
		<p>The <a target="_blank" href="https://www.innersource.events/">Fall 2019 summit</a> will be held in Baltimore, MD, USA from 17-19 September 2019. We look forward to another exciting lineup and thought leadership speakers. For more information, check out the <a href="https://www.innersource.events/" target="_blank">innersource.events</a>. The <a href="https://docs.google.com/forms/d/e/1FAIpQLSfmSoIvuvHa1HwaX_PllPojAuMO8hFCJgYU7D0Mcdp5sJma_Q/viewform?vc=0&c=0&w=1" target="_blank">call for presentations</a> is still open. Hope to see you there!	
		</p>

        <p><a href="/events">Information on past events</a> is available.</p>
	</div>
    <div class="panel radius">
        <h3><a href="http://www.oreilly.com/pub/e/3884">O'Reilly Webinar</a></h3>
        <p>Learn about <a href="https://github.com/InnerSourceCommons/InnerSourcePatterns">InnerSource Patterns</a> by watching the replay of the <em>Implementing InnerSource Patterns: Solve Organizational Problems by Leveraging Community Contributions</em> webinar from Thursday, June 1, 2017.
        </p>
    </div>

	<div class="panel radius">
	  <h3><a href="/assets/files/InnerSourceCommonsSurvey2016.pdf">InnerSource Survey</a></h3>
	  <p>
	    Many organizations care about InnerSource - some are already deeply involved, some just considering starting. Here are the results from the <a href="/assets/files/InnerSourceCommonsSurvey2016.pdf">2016 InnerSource Survey</a>
	  </p>
	</div>
	
  <div class="border-dotted radius b30">
    <p class="text-left">
      Connect with the community
	<script async defer src="https://isc-inviter.herokuapp.com/slackin.js"></script>
    </p>
    <p class="text-left">
      This site maintained on <a href="https://github.com/InnerSourceCommons/innersourcecommons.org">GitHub</a>
      <br />
      <a href="https://github.com/InnerSourceCommons/innersourcecommons.org/issues"><img src="https://img.shields.io/github/issues/InnerSourceCommons/innersourcecommons.org.svg" alt="Issues"></a>
      <br />
      <a href="https://github.com/InnerSourceCommons/innersourcecommons.org"><img src="https://img.shields.io/github/forks/InnerSourceCommons/innersourcecommons.org.svg?style=social&label=Fork" alt="Fork"></a>
      <br />
      Check out the <a href="https://github.com/InnerSourceCommons/innersourcecommons.org/wiki">InnerSource Commons wiki</a>!
    </p>
  </div>
</aside>
