<aside>
    <div class="panel radius">
        <h3><a href="/events/">ISC Events</a></h3>
        
	<p>All the sessions from the InnerSource Commons Online Spring Summit 2020 are now <a href="https://www.youtube.com/playlist?list=PLCH-i0B0otNQeYBH5QvNRBDA3CMrS9lL9">available to view <b>online</b></a> (in your living room).  The ISC Summit was held online for the first time on the 14th and 15th of April 2020. Check out the <a href="/events/isc-spring-2020-agenda/" target="_blank">agenda</a> for more details on speakers and sessions!    
        </p>

        <p><a href="/events">Information on past events</a> is available.</p>
    </div>
    <div class="panel radius">
        <h3><a href="http://www.oreilly.com/pub/e/3884">O'Reilly Webinar</a></h3>
        <p>Learn about <a href="https://github.com/InnerSourceCommons/InnerSourcePatterns">InnerSource Patterns</a> by watching the replay of the <em>Implementing InnerSource Patterns: Solve Organizational Problems by Leveraging Community Contributions</em> webinar from Thursday, June 1, 2017.
        </p>
    </div>

    <div class="panel radius">
      <h3><a href="/assets/files/InnerSourceCommonsSurvey2016.pdf">InnerSource Survey</a></h3>
      <p>
        Many organizations care about InnerSource - some are already deeply involved, some just considering starting. Here are the results from the <a href="/assets/files/InnerSourceCommonsSurvey2016.pdf">2016 InnerSource Survey</a>
      </p>
    </div>
    
  <div class="border-dotted radius b30">
    <p class="text-left">
      Connect with the community
    <script async defer src="https://innersourcecommons-inviter.herokuapp.com/slackin.js"></script>
    </p>
    <p class="text-left">
      This site maintained on <a href="https://github.com/InnerSourceCommons/innersourcecommons.org">GitHub</a>
      <br />
      <a href="https://github.com/InnerSourceCommons/innersourcecommons.org/issues"><img src="https://img.shields.io/github/issues/InnerSourceCommons/innersourcecommons.org.svg" alt="Issues"></a>
      <br />
      <a href="https://github.com/InnerSourceCommons/innersourcecommons.org"><img src="https://img.shields.io/github/forks/InnerSourceCommons/innersourcecommons.org.svg?style=social&label=Fork" alt="Fork"></a>
      <br />
      Check out the <a href="https://github.com/InnerSourceCommons/innersourcecommons.org/wiki">InnerSource Commons wiki</a>!
    </p>
  </div>
</aside>
