<aside>
    <div class="panel radius">
        <h3><a href="/events/">ISC Events</a></h3>

	<p>
    See you in the 2021 Event Season.
	</p>
  <p>Sessions from the InnerSource Commons APAC 2020 Online Summit are <a href="https://bit.ly/3moel7B">available on YouTube.</a></p>
	<p>Also see information on our <a href="/events">past events</a>.</p>
    </div>
    <div class="panel radius">
        <h3><a href="http://www.oreilly.com/pub/e/3884">O'Reilly Webinar</a></h3>
        <p>Learn about <a href="https://github.com/InnerSourceCommons/InnerSourcePatterns">InnerSource Patterns</a> by watching the replay of the <em>Implementing InnerSource Patterns: Solve Organizational Problems by Leveraging Community Contributions</em> webinar from Thursday, June 1, 2017.
        </p>
    </div>

	<div class="panel radius">
        	<h3><a href="/resources/learningpath/">ISC Learning Path</a></h3>
       		<p>The InnerSource Commons Learning Path community is focused on creating a set of resources explaining and teaching various aspects of InnerSource. <a href="/resources/learningpath/">Check out</a> this curated set of videos and articles that have been proven to lead to successful InnerSource practices.
		</p>
	</div>

	<div class="panel radius">
        	<h3><a href="https://github.com/InnerSourceCommons/InnerSourcePatterns">ISC Patterns</a></h3>
       		<p>Learn about <a href="https://github.com/InnerSourceCommons/InnerSourcePatterns">InnerSource Patterns</a> by exploring the best practices codified by the InnerSource Commons community.
		</p>
	</div>

    <div class="panel radius">
      <h3><a href="/assets/files/InnerSourceCommonsSurvey2016.pdf">InnerSource Survey</a></h3>
      <p>
        Many organizations care about InnerSource - some are already deeply involved, some just considering starting. Here are the results from <a href="/assets/files/InnerSourceCommonsSurvey2016.pdf">our last InnerSource Survey in 2016</a>. We are currently working on an updated survey, please join us if you would like to be involved.
      </p>
    </div>

  <div class="border-dotted radius b30">
    <p class="text-left">
      Connect with the community
    <script async defer src="https://innersourcecommons-inviter.herokuapp.com/slackin.js"></script>
    </p>
    <p class="text-left">
      This site maintained on <a href="https://github.com/InnerSourceCommons/innersourcecommons.org">GitHub</a>
      <br />
      <a href="https://github.com/InnerSourceCommons/innersourcecommons.org/issues"><img src="https://img.shields.io/github/issues/InnerSourceCommons/innersourcecommons.org.svg" alt="Issues"></a>
      <br />
      <a href="https://github.com/InnerSourceCommons/innersourcecommons.org"><img src="https://img.shields.io/github/forks/InnerSourceCommons/innersourcecommons.org.svg?style=social&label=Fork" alt="Fork"></a>
      <br />
      Check out the <a href="https://github.com/InnerSourceCommons/innersourcecommons.org/wiki">InnerSource Commons wiki</a>!
    </p>
  </div>
</aside>
