---
layout: page
---

{% assign siblings = site.pages | where: "learning_path_group", page.learning_path_group | where: "learning_path_translation", page.learning_path_translation | sort: "learning_path_position" %}

<p><a href="/resources/learningpath/">{{ site.data.learning_path[page.learning_path_translation].home | default: site.data.learning_path.en.home }}</a></p>

<table>
  <thead>
    <tr>
      <th>{{ page.learning_path_group }}</th>
    </tr>
  </thead>
  <tbody>
    {% for item in siblings %}
        <tr>
          {% if item.url == page.url %}
            <td>{{ item.learning_path_menu_title }}</td>
          {% else %}
            <td><a href="{{ item.url }}">{{ item.learning_path_menu_title}}</a></td>
          {% endif %}
        </tr>
    {% endfor %}
  </tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.13.1/js-yaml.min.js"></script>

{% if page.no_video != true %}
  <div id="learningPathVideo"></div>

  <script>
    let tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    const firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    let player;
    function onYouTubeIframeAPIReady() {
      fetch('https://raw.githubusercontent.com/InnerSourceCommons/InnerSourceLearningPath/master/config/urls.yaml')
        .then(response => response.text())
        .then(jsyaml.safeLoad)
        .then((urls) => {
          const firstEntryOfGroupIndex = urls.findIndex(entry => entry.section === '{{ page.learning_path_group }}'.toLowerCase())
          const currentPageIndexOffset = {{ page.learning_path_position | minus: 1 }}
          const youtubeUrl = urls[firstEntryOfGroupIndex + currentPageIndexOffset].video.youtube
          const videoId = youtubeUrl.replace('https://www.youtube.com/watch?v=', '')

          player = new YT.Player('learningPathVideo', {
            height: '315',
            width: '560',
            videoId
          });
        })
    }
  </script>
{% endif %}


{% if page.learning_path_article %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/asciidoctor.js/1.5.9/asciidoctor.min.js"></script>

  <p id="learningPathArticle"></p>

  <script>
    fetch('https://raw.githubusercontent.com/InnerSourceCommons/InnerSourceLearningPath/master/{{ page.learning_path_article }}')
      .then((response) => {
        return response.text()
      })
      .then((text) => {
        document.getElementById('learningPathArticle').innerHTML = Asciidoctor().convert(text)
      })
  </script>
{% endif %}

{% assign prev_index = page.learning_path_position | minus: 2 %}
{% assign prev = siblings[prev_index] %}
{% assign next_index = page.learning_path_position %}
{% assign next = siblings[next_index] %}

<br />
<p style="text-align: left">
  {% if prev_index > -1 %}
    <span style="float: left;"></span><a href="{{ prev.url }}" >{{ site.data.learning_path[page.learning_path_translation].prev | default: site.data.learning_path.en.prev }}</a></span>
  {% endif %}
  {% if next_index < siblings.size %}
    <span style="float: right"><a href="{{ next.url }}" >{{ site.data.learning_path[page.learning_path_translation].next | default: site.data.learning_path.en.next }}</a></span>
  {% endif %}
</p>

<h4>{{ site.data.learning_path[page.learning_path_translation].thanks | default: site.data.learning_path.en.thanks }}</h4>
<ul>
  {% for contributor in page.contributors %}
    {% if contributor.url %}
      <li><a href={{ contributor.url }}> {{ contributor.name }}</a></li>
    {% else %}
      <li>{{ contributor.name }}</li>
    {% endif %}
  {% endfor %}
</ul>
